{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class='p-5'>

  <div class='card p-5'>
    <p>
      Hello
    </p>
    <span> Text Text </span>
  </div>

</main>