:root {
  --space-l: 24px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-b: 36px;
  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --color-border: #dee2e6;
  --color-primary: rgb(75, 75, 248);
  --color-title: #212529;
  --color-text: #343a40;
  --border-radius: 12px;
  --weight-title: 500;
  --weight-text: 400;
}
/*===========================================*/
.page {
  background: #ffffff;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page-content {
  font-family: 'Roboto';
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/*===========================================*/
.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  background: var(--color-primary);
  color: white;
  width: var(--space-l);
  height: var(--space-l);
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
}

.main {
  display: flex;
  align-items: center;
  gap: var(--space-b);
  padding: 0px;
  gap: 80px;
}

.main_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.main_title {
  width: 420px;
  height: 86px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: -0.8px;
  color: #5a5a5a;
}

.main_text {
  width: 420px;
  height: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  display: flex;
  align-items: center;
  color: #5a5a5a;
}

.featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.card > *:not(:last-child) {
  margin-bottom: var(--space-l);
}

.card_image {
  width: 64px;
  height: 64px;
  background: #0d6efd;
  border-radius: 12px;
}

.card_title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212529;
}

.card_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #212529;
}

.button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;
  font-weight: 400;
  line-height: 80%;
  padding: var(--space-m) var(--space-xm);
  border-radius: 4px;
  width: 120px;
  height: 36px;
}

.button:hover {
  opacity: 0.7;
}

.main_button {
  color: white;
  background-color: #6c757d;
}

.card_button {
  width: 96px;
  height: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #0d6efd;
  position: absolute;
  top: 1010px;
}

.card_button:hover {
  opacity: 0.7;
}

.actions {
  display: flex;
  padding: var(--space-l);
  justify-content: space-between;
  border-radius: 8px;
  background: #563d7c;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.form {
  display: flex;
  width: 240px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-m);
}

.form_heading {
  color: #fff;
  font-size: var(--space-l);
  line-height: 16px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 240px;
  height: 50px;
  border-radius: 4.8px;
  background: #fff;
  color: #212529;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.9;
}
